
@mixin ratingbarstyles {

	.v-rating-item {
		width: 96px;
		height: 48px;
		background: #eee;
		border-color: red;
		border-style: solid;
		border-width: 2px 2px 50px 2px;
		border-radius: 100%;
		position: relative;
	}
	
	.v-rating-item:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		background: #eee;
		border: 18px solid red;
		border-radius: 100%;
		width: 12px;
		height: 12px;
	}
	
	.v-rating-item:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		background: red;
		border: 18px solid #eee;
		border-radius:100%;
		width: 12px;
		height: 12px;
	}
	
	.v-rating-item-selected {
		@extend .v-rating-item;

		border-color: blue;
	}

	.v-rating-item-selected:before {
		@extend .v-rating-item:before;

		border-color: blue;
	}
	
	.v-rating-item-selected:after {
		@extend .v-rating-item:after;

		background: blue;
	}
	

}
